/*home button*/
#btn_home {
    background: white;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}
#btn_home:hover {
    background: green;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}

#btn_home:focus {
    background: green;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
/*stats button*/
#btn_stats {
    background: white;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}
#btn_stats:hover {
    background: green;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}

#btn_stats:focus {
    background: green;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
/*orders button*/
#btn_orders {
    background: white;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}
#btn_orders:hover {
    background: green;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}

#btn_orders:focus {
    background: green;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
/*employees button*/
#btn_employees {
    background: white;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}
#btn_employees:hover {
    background: green;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}

#btn_employee:focus {
    background: green;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

#frame_daily_revenue {
    border: 5px solid black;
}

#frame_monthly_revenue {
    border: 5px solid black;
}

#frame_best-selling {
    border: 5px solid black;
}

#label_daily_data {
    font-size: 20px;
    font-weight: 700;
    text-align: start;
}

#label_monthly_data {
    font-size: 20px;
    font-weight: 700;
    text-align: start;
}

#label_best_food {
    border: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: start;
}

#label_best_drink {
    border: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: start;
}










